@model sarobi1._1.Models.Empleado

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Admin2Layout.cshtml";
}

<h2>Borrar Empleado</h2>

<h4>Estás seguro deseas borrar este empleado?</h4>
<br />

<div>
    <hr />
    <dl class="dl-horizontal" style="overflow: hidden;padding:0;margin:0">
        <dt>
            Nombre Completo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            Fecha de Nacimiento:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            Sexo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            Número de Cédula:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroIdentificacion)
        </dd>

        <dt>
            Nacionalidad:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>

        <dt>
            Teléfono 1:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono1)
        </dd>

        <dt>
            Teléfono 2:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono2)
        </dd>

        <dt>
            Dirección:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            Puesto:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puesto)
        </dd>

        <dt>
            Tipo Empleado:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEmpleado)
        </dd>

        <dt>
            Fecha de Contratación:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaContratacion)
        </dd>

        <dt>
            Recomendaciones:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recomendaciones)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <br /><br />
        <p>
            <button type="submit" class="btn btn-danger"> <span class="glyphicon glyphicon-trash"> </span> Borrar</button>  |
            @Html.ActionLink("Regresar", "Index")
       </p>
    }
</div>
