@model sarobi1._1.Models.Empleado

@{
    ViewBag.Title = "Editar Empleado";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<h2>Editar Empleado</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal modal-body row">
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(model => model.PrimerNombre, "Nombre:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PrimerNombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PrimerNombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PrimerApellido, "Primer Apellido:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PrimerApellido, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PrimerApellido, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SegundoApellido, "Segundo Apellido:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SegundoApellido, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SegundoApellido, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FechaNacimiento, "Fecha Nacimiento:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                    @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Sexo, "Sexo:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.DropDownListFor(x => x.Sexo, new List<SelectListItem>
                    {
                        new SelectListItem() {Text = "Hombre", Value="Hombre"},
                        new SelectListItem() {Text = "Mujer", Value="Mujer"}
                     }, " -- Seleccione Sexo --", new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NumeroIdentificacion, "Cédula:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-btn">
                            @Html.DropDownListFor(x => x.TipoIdentificacion, new List<SelectListItem>
                                 {
                                    new SelectListItem() {Text = "Nacional", Value="Nacional"},
                                    new SelectListItem() {Text = "Residencia", Value="Residencia"},
                                    new SelectListItem() {Text = "Pasaporte", Value="Pasaporte"}
                                 }, new { @class = "btn btn-default dropdown-toggle", @id = "SelectTipo" })

                        </div>
                        @Html.EditorFor(model => model.NumeroIdentificacion, new { htmlAttributes = new { @class = "form-control ", @id = "txtCedula" } })

                    </div>

                    @Html.ValidationMessageFor(model => model.NumeroIdentificacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nacionalidad, "Nacionalidad:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nacionalidad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nacionalidad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefono1, "Tel 1:", htmlAttributes: new { @class = "control -label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telefono1, new { htmlAttributes = new { @class = "form-control", @id = "txtTel1" } })
                    @Html.ValidationMessageFor(model => model.Telefono1, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(model => model.Telefono2, "Tel 2:", htmlAttributes: new { @class = "control -label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telefono2, new { htmlAttributes = new { @class = "form-control", @id = "txtTel2" } })
                    @Html.ValidationMessageFor(model => model.Telefono2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Direccion, "Dirección:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Puesto, "Puesto:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(x => x.Puesto, new List<SelectListItem>
                    {
                        new SelectListItem() {Text = "Administrativo", Value="Administrativo"},
                        new SelectListItem() {Text = "Supervisor", Value="Supervisor"},
                        new SelectListItem() {Text = "Oficial", Value="Oficial" }
                     }, " -- Seleccione Puesto --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Puesto, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.TipoEmpleado, "Tipo:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(x => x.TipoEmpleado, new List<SelectListItem>
                    {
                        new SelectListItem() {Text = "Cubre Libre", Value="Administrativo"}
                     }, " -- Seleccione Tipo Empleado --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TipoEmpleado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FechaContratacion, "Fecha Contratación:", htmlAttributes: new { @class = "control -label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FechaContratacion, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                    @*@Html.ValidationMessageFor(model => model.FechaContratacion, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Recomendaciones, "Recomendaciones:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Recomendaciones, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Recomendaciones, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Foto, "Foto:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Foto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Foto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AntecedentesPenales, "Antecedentes:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AntecedentesPenales, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AntecedentesPenales, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <br />
                <button type="submit" class="btn btn-primary btn-lg" style="margin-left:250px;"> <span class="glyphicon glyphicon-floppy-saved"></span> Editar </button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>
    <script>

            $('#txtCedula').mask('9-9999-9999');
            $('#txtTel1').mask('9999-9999');
            $('#txtTel2').mask('9999-9999');

            $('.datetimepicker').datetimepicker({
                format: "YYYY/MM/DD",
                locale: 'es',
            });

            $(document).ready(function ($) {
                $("#SelectTipo").change(function () {

                    if ($(this).val() == "Nacional") {
                        $('#txtCedula').mask('9-9999-9999');
                    }
                    else {
                        $('#txtCedula').unmask();
                    }

                });
            });
</script>
}
