@model PagedList.IPagedList<sarobi1._1.Models.Empleado>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin2Layout.cshtml";
}

@using (Html.BeginForm("Index", "Empleados", FormMethod.Get))
{
    <br />
    <p>
        <h2 style="display:inline;margin-right:30px;">Empleados</h2>
        <div class="input-group" style="display:inline-block;margin-left:200px;margin-top:-30px;">

            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "col-md-4", placeholder = "Buscar.." })<span><button class="" type="submit" style="display:inline; margin-left:5px;height:33px;background-color:#428bca;"><span class="glyphicon glyphicon-search"></span> </button></span>
            <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create")'" style="margin-left:650px;margin-top:-60px;"><span class="glyphicon glyphicon-plus"></span> Crear</button>
        </div>

    </p>
}
<br /><br />

<table class="table table-condensed table-hover">
    <tr>
        <th>
            @Html.ActionLink("Nombre Completo", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Sexo", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Cédula", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>
            @Html.ActionLink("Puesto", "Index", new { sortOrder = ViewBag.PuestoSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroIdentificacion)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Puesto)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" }) |
            @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "glyphicon glyphicon-list-alt" }) |
            @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash"})
        </td>
    </tr>
}

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))