@model sarobi1._1.Models.Base

@{
    ViewBag.Title = "Crear Base";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Crear Base</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal modal-body row">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, "Nombre:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Encargado, "Encargado:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Encargado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Encargado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Telefono, "Teléfono:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Direccion, "Dirección:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ID_Supervisor, "Supervisor:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ID_Supervisor", null, "-- Seleccione supervisor --", htmlAttributes: new { @class = "form-control col-md-12" })
                    @Html.ValidationMessageFor(model => model.ID_Supervisor, "", new { @class = "text-danger" })
                </div>
            </div>

          </div>

       
            <div class="form-group" style="margin-top:200px;margin-left:50px;">
               
                <div class="col-md-10">
                   <h5 style="text-align:center; color:#0059b3;"><strong>Asignación de Oficiales</strong></h5>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>Empleado</th>
                            <th>Seleccionar</th>
                            @{
                                int cnt = 0;
                                List<sarobi1._1.Models.AssignedEmpleadoData> empleados = ViewBag.Empleados;

                                foreach (var emp in empleados)
                                {
                                    if (cnt++ % 1 == 0)
                                    {
                                        @:</tr><tr>
                                 }
                                    @:<td> @emp.Nombre
                                    @:</td>

                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedEmpleados"
                                               value="@emp.EmpleadoID"
                                               @(Html.Raw(emp.Assigned ? "checked=\"checked\"" : "")) />
                                        @:</td>

                                }

                                @:</tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <br />
                        <button type="submit" class="btn btn-primary btn-lg" style="margin-left:250px;"> <span class="glyphicon glyphicon-floppy-saved"></span> Crear </button>
                    </div>
                </div>
            </div>

                            }

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
