@model IEnumerable<sarobi1._1.Models.Base>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>Empleados</th>
        <th>Opciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @{
                foreach (var emp in item.Empleado)
                {
                     @emp.PrimerNombre <br />
                }
            }
        </td>



        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }) |
            @Html.ActionLink("Tracking", "Create", "Trackings", new { id = item.ID },null)
        </td>
    </tr>
}

</table>
