@model sarobi1._1.Models.Tracking

@{
    ViewBag.Title = "Crear Tracking";
    Layout = "~/Views/Shared/_Admin2Layout.cshtml";
}

<div style="display:inline-flex;">
    <h2 style="margin-right:50px;"><span class="glyphicon glyphicon-time"></span>       Añadir Horas</h2>
    <span style="margin-top:30px;margin-left:100px;"> @Html.ActionLink("Ver Lista", "Index")</span>
</div>

<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />

            @using (Html.BeginForm()) { @Html.AntiForgeryToken()   
                
                <div class="form-horizontal" style="margin:0;padding:0;overflow-y:auto;overflow-x:hidden">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <hr/>
                 <div class="form-group">
                 @Html.LabelFor(model => model.Base.Nombre, "Base:", htmlAttributes: new { @class = "control-label col-md-2" })
                     <div class="col-md-4">
                         @Html.DropDownListFor(x => x.ID_Base, new SelectList(string.Empty, "Value", "Text"), "-- Seleccione una base --", new { @class = "form-control", @id = "DropdownBase" })
                         @*@Html.DropDownList("ID_Base", null, "-- Seleccione una Base --", htmlAttributes: new { @class = "form-control col-md-12", @id="DropdownBase" })*@
                            @Html.ValidationMessageFor(model => model.Base.Nombre, "", new { @class = "text-danger" })
                    </div>
                 </div>

                 <div class="form-group">
                    @Html.LabelFor(model => model.Empleado.PrimerNombre, "Empleado:", htmlAttributes: new { @class = "control-label col-md-2" })
                     <div class="col-md-4">
                         @Html.DropDownListFor(x => x.ID_Empleado, new SelectList(string.Empty, "Value", "Text"), "-- Seleccione un empleado --", new { @class = "form-control", @id = "DropdownEmpleado" })
                         @*@Html.DropDownList("ID_Empleado", null, "-- Seleccione un empleado --", htmlAttributes: new { @class = "form-control col-md-12", @id = "DropdownEmpleado" })*@
                         @Html.ValidationMessageFor(model => model.Empleado.PrimerNombre, "", new { @class = "text-danger" })
                     </div>
                 </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Fecha, "Fecha:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                            @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Horas, "Horas:",htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Horas, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Horas, "", new { @class = "text-danger" })
                        </div>
                    </div>

                <br /><br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Crear" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Regresar", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")      
                <script src="~/Scripts/ChromeFix.js"></script>
                <script src="~/Scripts/moment.js"></script>
                <script src="~/Scripts/moment-with-locales.js"></script>
                <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
                <script src="~/Scripts/jquery.maskedinput.js"></script>
 
                <script>
                    $('.datetimepicker').datetimepicker({
                        format: "DD/MM/YYYY",
                        locale: 'es',
                        widgetPositioning: {
                            horizontal: 'auto',
                            vertical: 'bottom'
                        }
                    });

                    $(function () {
                        $.ajax({
                            type: "GET",
                            url: "/Trackings/GetBases",
                            datatype: "Json",
                            success: function (data) {
                                $.each(data, function (index, value) {
                                    $('#DropdownBase').append('<option value="' + value.ID + '">' + value.Nombre + '</option>');
                                });
                            }
                        });
                    });


                    $('#DropdownBase').change(function () {

                   $('#DropdownEmpleado').empty();
                    $.ajax({
                        type: "POST",
                        url: "/Trackings/GetEmpleados",
                        datatype: "Json",
                        data: { ID_Base: $('#DropdownBase').val() },
                        success: function (data) {
                            $.each(data, function (index, value) {
                                $('#DropdownEmpleado').append('<option value="' + value.ID + '">' + value.FullName2 + '</option>');
                            });
                        }
                    });
                    });

            </script>

 }

