@model sarobi1._1.Models.Tracking

@{
    ViewBag.Title = "Detalle Tracking";
    Layout = "~/Views/Shared/_Admin2Layout.cshtml";
}

<h2>Detalle Tracking</h2>

<div>

    <hr />
    <dl class="dl-horizontal" style="overflow: hidden;padding:0;margin:0">
        <dt>
            Base:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Base.Nombre)
        </dd>
        <dt>
            Empleados:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.FullName)
        </dd>
        <dt>
           Horas:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horas)
        </dd>

        <dt>
            Fecha:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
 @*   @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |  *@
    @Html.ActionLink("Regresar", "Index")
</p>
