@model PagedList.IPagedList<sarobi1._1.Models.Tracking>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin2Layout.cshtml";
}

<br />
<p>
    <h2 style="display:inline;margin-right:30px;">Horas Reportadas</h2>
    <div class="input-group" style="display:inline-block;margin-left:200px;margin-top:-30px;">
        <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create")'" style="margin-left:650px;margin-top:-60px;"><span class="glyphicon glyphicon-plus"></span> Crear</button>
    </div>

</p>

<br /><br />
<table class="table table-condensed table-hover">
    <tr>
        <th>
            Base
        </th>
        <th>
            Oficial
        </th>

        <th>
            Horas Reportadas
        </th>
        <th>
            Día
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Base.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Horas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
          @*  @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" }) | *@  
            @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "glyphicon glyphicon-list-alt" }) |
            @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash"})
        </td>
    </tr>
}

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))