@model PagedList.IPagedList<sarobi1._1.Models.Tracking>
@*@model sarobi1._1.Models.Tracking*@
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin2Layout.cshtml";
}
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet"/>


@using (Html.BeginForm("Index", "Trackings", FormMethod.Get)) {
    
    <br />
    <p>
    <h2 style="display:inline;margin-right:30px;">Horas Reportadas</h2>
   
    <br /><br />
            <div class="form-group" id="filterBase">
                <br />
                <label class="control-label col-md-2"><strong>Filtre por Base:</strong></label>
                <div class="col-md-4" style="display:inline-flex;">
                   @Html.DropDownList("SearchString",new SelectList(string.Empty, "Text"),"-- Seleccione Base --",new { @class = "form-control", @id = "DropdownBase",@onchange="this.form.submit()"}) @*<span><button class="" type="submit" style="display:inline; margin-left:20px;height:33px;background-color:#428bca;"><span class="glyphicon glyphicon-search"></span> </button></span>*@
                </div>
            </div>

    <br />
</p>
}

<br /><br />
<table class="table table-condensed table-hover">
    <tr>
        <th class="text-center">
            BASE
        </th>
        <th class="text-center">
            OFICIAL
        </th>

        <th class="text-center">
            HORAS REPORTADAS
        </th>
        <th class="text-center">
            DÍA
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Base.Nombre)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Empleado.FullName)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Horas)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td class="text-right">
          @*  @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" }) | *@  
            @Html.ActionLink("Ver Detalles", "Details", new { id = item.ID }) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


@section Scripts{
<script src="~/Scripts/jquery-2.2.4.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script>

    $('.datetimepicker').datetimepicker({
        format: "DD/MM/YYYY",
        locale: 'es',
        widgetPositioning: {
            horizontal: 'auto',
            vertical: 'bottom'
        }
    });

    $(function () {
        $.ajax({
            type: "GET",
            url: "/Trackings/GetBases",
            datatype: "Json",
            success: function (data) {
                $.each(data, function (index, value) {
                    $('#DropdownBase').append('<option>' + value.Nombre + '</option>');
                });
            }
        });
    });


</script>
}