@using sarobi1._1.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";

}

<br /><br />
<div class="row">
    <div class="col-md-8">
        <section id="loginForm" style="margin-left:380px;">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title" style="text-align:center;">Inicio de Sesión</div>
                    </div>

                    <div class="panel-body" style="margin-left:30px;">

                        @*<h2 style="text-align:center;"><img src="~/Content/logo/sarobi.png" /></h2>*@
                        <br />

                        <div class="form-group">
                            <div class="col-md-10 input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder="Email"})
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-10 input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary" style="width:250px;margin-left:-55px;"> <span class="glyphicon glyphicon-log-in"> </span> Log In</button>
                            </div>
                        </div>
                    </div>
                </div>

                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}